@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/aspect-ratio";
@plugin "@tailwindcss/container-queries";

